.banner{
    background-image:linear-gradient(to right,rgba(9, 9, 9, 0.518), rgba(255, 255, 255, 0.371)),  url('../Navigation/banner.jpeg');
    height: 70vh;
    background-position: center;
    background-size: cover;
}